<a href="https://colab.research.google.com/github/JF11579/Postings/blob/main/condo_generic_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![screen.png]()

# *Appearances Dont Count for Much and Here is the Proof*

### We are looking at condo units here.  By definition, to the square milimeter, condos are identical to one another except for the Floor Level and the Appearance/Condition.

### But why then are the  Green dots signifying Mint --the best condition--  not consistantly on the top?

### This is 2 years of sales data that I annoymized.  The Python code can be found HERE.  The original notebooks was done in interactive Plotly.  The annonymized data can be found HERE.

Libraries

In [1]:
# # !pip install geopandas
# # !pip install geopy
# ! pip install plotly
# ! pip install plotly --upgrade

In [2]:
import pandas as pd
from google.colab import drive
import plotly.express as px
import numpy as np
import plotly.graph_objects as go

# options

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Data

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Change to the directory containing your CSV
%cd /content/drive/MyDrive/DATA/Real_Estate_Data

In [5]:
condo = pd.read_csv('condo_Oct_14_random_3.csv')

# Pre-Processing

In [6]:
# fix the olumn names
condo.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

In [7]:
# purge duplicate ML#s
condo = condo.drop_duplicates(subset=['ML#'], keep='first')

In [8]:
# Selectthe columns that we are intersted in
condo[['ML#', 'Style','Development','Sold_Price',
                   'Bath','Bedrooms','Appearance',
                'Unit_on_Floor_#','Contract_Date','Town']]

,ML#,Style,Development,Sold_Price,Bath,Bedrooms,Appearance,Unit_on_Floor_#,Contract_Date,Town
0,2,Other,123 Main St,239000,0,1,NaN,2,6/27/2020,Eastern
1,1,Co-Op,123 Main St,224000,1,1,Mint,1,03/06/2020,Eastern
2,5,Other,123 Main St,210000,0,1,NaN,1,12/11/2020,Eastern
3,4,Other,123 Main St,230000,0,1,NaN,2,11/11/2020,Eastern
4,6,Garden Apartment,123 Main St,265000,0,1,Mint,2,09/09/2022,Eastern
5,3,Other,123 Maine St,220000,1,1,excel,1,07/03/2020,Eastern
6,12,Townhouse,Beach Manor,450000,1,2,Mint,1,4/10/2022,Westville
7,13,Townhouse,Beach Manor,469000,1,2,NaN,1,8/18/2022,Westville
8,234,Townhouse,Brookstown,394000,1,2,Beautiful,1,09/08/2020,Lisps
9,261,Other,Bucolic,350000,0,2,NaN,1,01/02/2022,Coral
10,262,Townhouse,Bucolic,400000,0,2,Diamond,1,1/17/2022,Coral
11,263,Other,Bucolic,381000,0,2,Excellent,1,1/24/2022,Coral
12,264,Other,Bucolic,398500,0,2,NaN,1,3/25/2022,Coral
13,265,Other,Bucolic,384990,0,2,Mint,1,3/31/2022,Coral
14,266,Other,Bucolic,350000,0,2,NaN,1,4/18/2022,Coral
15,267,Other,Bucolic,369000,0,2,Excellent,1,4/21/2022,Coral
16,268,Other,Bucolic,372000,0,2,Excellent,1,06/03/2022,Coral
17,269,Other,Bucolic,365000,0,2,NaN,1,7/14/2022,Coral
18,270,Other,Bucolic,356800,0,2,Mint,1,8/25/2022,Coral
19,271,Other,Bucolic,410000,0,2,Excellent,1,9/18/2022,Coral
20,272,Other,Bucolic,389000,0,2,Mint,1,11/18/2022,Coral
21,273,Other,Bucolic,345000,0,2,Mint,1,12/08/2022,Coral
22,274,Other,Bucolic,320000,0,2,NaN,1,2/17/2023,Coral
23,275,Other,Bucolic,350000,0,2,Mint,1,04/06/2023,Coral
24,276,Townhouse,Bucolic,390000,0,2,Mint,1,4/21/2023,Coral
25,277,Other,Bucolic,410000,0,2,Diamond,1,05/08/2023,Coral
26,278,Other,Bucolic,370000,0,2,Mint,1,5/26/2023,Coral
27,279,Other,Bucolic,360000,0,2,Mint,1,7/13/2023,Coral
28,280,Other,Bucolic,419000,0,2,Mint,1,8/12/2023,Coral
29,281,Other,Bucolic,285000,0,2,Mint,1,3/12/2020,Coral
30,282,Other,Bucolic,328000,1,2,Mint,1,5/31/2020,Coral
31,283,Other,Bucolic,323999,0,2,Pristine,1,06/01/2020,Coral
32,284,Other,Bucolic,298500,0,2,NaN,1,06/06/2020,Coral
33,285,Other,Bucolic,310000,0,2,Mint,1,07/09/2020,Coral
34,286,Other,Bucolic,360000,0,2,Diamond++,1,12/11/2020,Coral
35,287,Other,Bucolic,335000,0,2,Excellent,1,02/05/2021,Coral
36,288,Other,Bucolic,329000,0,2,Mint,1,3/15/2021,Coral
37,289,Other,Bucolic,330000,0,2,Mint,1,3/20/2021,Coral
38,290,Other,Bucolic,330000,0,2,Excellent,1,3/29/2021,Coral
39,291,Other,Bucolic,325000,0,2,Mint+,1,04/02/2021,Coral
40,292,Other,Bucolic,349000,0,2,Mint,1,4/12/2021,Coral
41,293,Other,Bucolic,339000,0,2,Mint,1,5/15/2021,Coral
42,294,Other,Bucolic,350000,0,2,Mint,1,7/29/2021,Coral
43,295,Other,Bucolic,300000,0,2,Mint +,1,7/31/2021,Coral
44,296,Other,Bucolic,350000,0,2,NaN,1,8/18/2021,Coral
45,297,Other,Bucolic,375000,0,2,Mint,1,8/21/2021,Coral
46,298,Other,Bucolic,360000,0,2,Mint,1,10/25/2021,Coral
47,299,Other,Bucolic,300000,0,2,NaN,1,12/27/2021,Coral
48,300,NaN,Bucolic,300000,0,2,Mint,1,03/03/2020,Coral
49,301,Garden Apartment,Bucolic,314000,0,2,NaN,1,5/11/2020,Coral
50,228,Other,Cam Bridge,277000,0,2,Diamond,1,4/15/2020,Coral
51,230,Other,Cambridg,225000,0,1,mint+,1,5/23/2020,Coral
52,47,Townhouse,Cambridge,360000,1,1,Diamnond++,0,4/25/2022,Coral
53,49,Townhouse,Cambridge,410000,1,2,DIAMOND,0,4/30/2022,Coral
54,65,Townhouse,Cambridge,380000,1,2,NaN,0,7/13/2022,Coral
55,165,Other,Cambridge,350000,1,2,mint,0,3/13/2021,Coral
56,24,Other,Cambridge,300000,0,2,Nice!,1,1/28/2022,Coral
57,25,Other,Cambridge,285000,0,1,Mint,1,02/02/2022,Coral
58,27,Other,Cambridge,310000,0,1,mint,1,2/12/2022,Coral
59,30,Other,Cambridge,330000,0,2,MINT,1,2/26/2022,Coral
60,31,Other,Cambridge,350000,1,1,NaN,1,2/28/2022,Coral
61,32,Other,Cambridge,265000,0,1,mint,1,03/02/2022,Coral
62,33,Townhouse,Cambridge,355000,1,1,NaN,1,03/08/2022,Coral
63,34,Other,Cambridge,360000,0,2,NaN,1,03/08/2022,Coral
64,35,Other,Cambridge,320000,0,2,NaN,1,03/09/2022,Coral
65,36,Townhouse,Cambridge,291000,1,1,NaN,1,03/07/2022,Coral
66,37,Other,Cambridge,320000,0,1,NaN,1,3/13/2022,Coral
67,38,Garden Apartment,Cambridge,370000,1,1,Diamond,1,3/14/2022,Coral
68,39,Townhouse,Cambridge,371000,0,2,Excellent,1,3/15/2022,Coral
69,40,Other,Cambridge,340000,0,2,Excellent,1,3/24/2022,Coral
70,41,Townhouse,Cambridge,369990,1,2,Excellent,1,04/01/2022,Coral
71,42,Townhouse,Cambridge,420000,1,2,Excellent,1,04/04/2022,Coral
72,43,Garden Apartment,Cambridge,220000,0,2,NaN,1,04/05/2022,Coral
73,44,Townhouse,Cambridge,276000,1,1,Average,1,4/11/2022,Coral
74,46,Townhouse,Cambridge,375000,1,2,NaN,1,4/16/2022,Coral
75,48,Other,Cambridge,407000,0,2,NaN,1,4/25/2022,Coral
76,50,Other,Cambridge,345000,0,2,Excellent,1,05/02/2022,Coral
77,51,Townhouse,Cambridge,365000,1,2,Excellent,1,5/10/2022,Coral
78,53,Townhouse,Cambridge,330000,1,1,NaN,1,5/16/2022,Coral
79,54,Townhouse,Cambridge,390000,1,2,Mint,1,5/21/2022,Coral
80,55,Townhouse,Cambridge,325000,1,1,NaN,1,5/24/2022,Coral
81,56,Other,Cambridge,316000,1,1,NaN,1,06/07/2022,Coral
82,57,Other,Cambridge,380000,1,2,NaN,1,06/09/2022,Coral
83,59,Townhouse,Cambridge,277000,0,1,diamond!!,1,6/17/2022,Coral
84,60,Other,Cambridge,360000,1,1,NaN,1,6/17/2022,Coral
85,61,Other,Cambridge,382500,0,2,NaN,1,6/21/2022,Coral
86,62,Other,Cambridge,280000,1,1,Excellent,1,6/29/2022,Coral
87,63,Other,Cambridge,375000,0,2,NaN,1,6/29/2022,Coral
88,64,Townhouse,Cambridge,329000,1,1,NaN,1,07/09/2022,Coral
89,66,Other,Cambridge,380000,0,2,NaN,1,7/15/2022,Coral
90,67,Other,Cambridge,325000,1,1,mint,1,7/16/2022,Coral
91,68,Townhouse,Cambridge,242000,1,1,NaN,1,7/20/2022,Coral
92,69,Other,Cambridge,275000,0,1,NaN,1,7/20/2022,Coral
93,71,Other,Cambridge,350000,0,1,Diamond,1,08/02/2022,Coral
94,72,Other,Cambridge,370000,0,2,NaN,1,08/09/2022,Coral
95,74,Other,Cambridge,300000,1,1,Mint,1,8/25/2022,Coral
96,76,Other,Cambridge,395000,1,2,Diamond,1,9/12/2022,Coral
97,77,Other,Cambridge,370000,1,1,NaN,1,9/16/2022,Coral
98,78,Other,Cambridge,317500,0,2,Excellent,1,9/22/2022,Coral
99,79,Other,Cambridge,262000,1,1,Excellent,1,9/29/2022,Coral
100,80,Other,Cambridge,285000,1,1,NaN,1,10/04/2022,Coral
101,81,Townhouse,Cambridge,395000,1,2,Excellent,1,10/17/2022,Coral
102,84,Other,Cambridge,360000,1,1,NaN,1,11/07/2022,Coral
103,85,Townhouse,Cambridge,347000,1,1,NaN,1,11/09/2022,Coral
104,87,Other,Cambridge,288000,0,1,mINT,1,11/25/2022,Coral
105,88,Townhouse,Cambridge,360000,1,1,NaN,1,12/02/2022,Coral
106,89,Townhouse,Cambridge,345000,0,2,Mint +,1,12/02/2022,Coral
107,90,Other,Cambridge,377500,0,2,MINT,1,12/06/2022,Coral
108,91,Townhouse,Cambridge,400000,1,1,Diamond,1,12/12/2022,Coral
109,92,Other,Cambridge,344000,0,2,NaN,1,12/16/2022,Coral
110,93,Other,Cambridge,350000,0,2,MINT,1,12/17/2022,Coral
111,94,Townhouse,Cambridge,389000,1,1,NaN,1,01/02/2023,Coral
112,95,Townhouse,Cambridge,395000,1,1,NaN,1,1/17/2023,Coral
113,97,Townhouse,Cambridge,355000,1,1,NaN,1,02/08/2023,Coral
114,98,Other,Cambridge,349000,0,2,Pristene,1,2/13/2023,Coral
115,100,Garden Apartment,Cambridge,327000,0,2,Excellent+,1,03/06/2023,Coral
116,102,Other,Cambridge,367500,1,1,Mint+,1,02/09/2023,Coral
117,105,Other,Cambridge,292000,0,1,Excellent,1,4/20/2023,Coral
118,106,Other,Cambridge,360000,0,1,Mint+++,1,4/20/2023,Coral
119,107,Other,Cambridge,373000,0,2,NaN,1,4/22/2023,Coral
120,109,Townhouse,Cambridge,400000,1,2,diamond ++,1,06/08/2023,Coral
121,111,Other,Cambridge,325000,0,1,new,1,7/17/2023,Coral
122,112,See Remarks,Cambridge,233700,0,1,NaN,1,11/09/2022,Coral
123,113,Condo,Cambridge,255000,0,2,Great,1,01/09/2020,Coral
124,114,Condo,Cambridge,272000,0,2,Diamond,1,3/12/2020,Coral
125,116,Townhouse,Cambridge,305000,1,1,DIAMOND,1,5/13/2020,Coral
126,117,Other,Cambridge,240000,0,2,mint,1,5/20/2020,Coral
127,118,Townhouse,Cambridge,278950,1,1,Mint,1,5/21/2020,Coral
128,119,High Rise,Cambridge,283000,1,2,Good,1,5/26/2020,Coral
129,120,Townhouse,Cambridge,260000,0,2,Great,1,01/09/2020,Coral
130,121,Other,Cambridge,245000,0,2,NaN,1,06/05/2020,Coral
131,123,Townhouse,Cambridge,281500,1,1,Excellent,1,6/24/2020,Coral
132,124,Other,Cambridge,255000,0,2,NaN,1,6/25/2020,Coral
133,125,Other,Cambridge,289900,1,2,Exc/Mint,1,07/02/2020,Coral
134,126,Other,Cambridge,290000,1,2,Mint,1,07/03/2020,Coral
135,127,Other,Cambridge,278000,0,2,pristene,1,07/06/2020,Coral
136,128,Other,Cambridge,249000,0,1,Diamond,1,07/06/2020,Coral
137,129,Other,Cambridge,322500,1,2,Diamond,1,7/26/2020,Coral
138,130,Other,Cambridge,315000,1,1,pristene,1,08/04/2020,Coral
139,131,Garden Apartment,Cambridge,310000,0,2,MINT,1,8/10/2020,Coral
140,134,Townhouse,Cambridge,310000,1,1,NaN,1,8/20/2020,Coral
141,135,Other,Cambridge,265000,0,1,NaN,1,8/29/2020,Coral
142,136,Townhouse,Cambridge,294000,1,1,Great,1,9/15/2020,Coral
143,138,Garden Apartment,Cambridge,269000,0,2,NaN,1,10/14/2020,Coral
144,140,Other,Cambridge,315000,1,1,mint,1,10/31/2020,Coral
145,141,Other,Cambridge,289900,0,2,Mint ++,1,11/11/2020,Coral
146,142,Other,Cambridge,280000,0,2,NaN,1,11/10/2020,Coral
147,143,Other,Cambridge,340000,1,2,NaN,1,11/15/2020,Coral
148,145,Other,Cambridge,279000,1,1,Mint,1,12/12/2020,Coral
149,146,Other,Cambridge,280000,0,2,mint,1,12/26/2020,Coral
150,147,Other,Cambridge,290000,0,2,mint,1,01/04/2021,Coral
151,148,Other,Cambridge,315000,1,2,NaN,1,01/08/2021,Coral
152,149,Townhouse,Cambridge,300000,0,2,Mint,1,1/18/2021,Coral
153,150,Townhouse,Cambridge,312000,1,1,Excellent,1,02/01/2021,Coral
154,151,Other,Cambridge,320000,0,2,NaN,1,02/03/2021,Coral
155,152,Other,Cambridge,262000,0,2,Mint,1,02/04/2021,Coral
156,153,Other,Cambridge,285000,0,2,NaN,1,02/04/2021,Coral
157,154,Other,Cambridge,295000,0,2,NaN,1,2/10/2021,Coral
158,155,Other,Cambridge,300000,0,2,excellent,1,2/12/2021,Coral
159,156,Townhouse,Cambridge,320000,1,1,Mint+++,1,2/17/2021,Coral
160,157,Townhouse,Cambridge,297500,1,1,NaN,1,2/16/2021,Coral
161,158,Townhouse,Cambridge,279000,1,1,Excellent,1,2/24/2021,Coral
162,159,Other,Cambridge,288500,1,1,mint,1,2/25/2021,Coral
163,161,Other,Cambridge,286000,0,2,NaN,1,03/08/2021,Coral
164,162,Townhouse,Cambridge,255000,0,2,NaN,1,03/08/2021,Coral
165,163,Other,Cambridge,280000,1,1,NaN,1,03/08/2021,Coral
166,164,Garden Apartment,Cambridge,350000,1,2,Mint,1,03/08/2021,Coral
167,166,Townhouse,Cambridge,297500,1,1,Updated,1,3/13/2021,Coral
168,167,Other,Cambridge,349000,1,2,mint,1,3/18/2021,Coral
169,169,Other,Cambridge,288000,0,2,mint,1,3/22/2021,Coral
170,170,Garden Apartment,Cambridge,275000,0,2,Mint,1,3/24/2021,Coral
171,172,Garden Apartment,Cambridge,324900,0,2,Pristine,1,04/08/2021,Coral
172,173,Townhouse,Cambridge,335000,0,2,NaN,1,04/08/2021,Coral
173,174,Other,Cambridge,310000,0,2,mint,1,04/09/2021,Coral
174,175,Other,Cambridge,315000,0,2,mint,1,4/22/2021,Coral
175,176,Other,Cambridge,375000,1,2,Diamond,1,4/24/2021,Coral
176,177,Other,Cambridge,395200,1,2,Mint,1,4/24/2021,Coral
177,178,Garden Apartment,Cambridge,275000,0,2,NaN,1,05/02/2021,Coral
178,179,Other,Cambridge,275000,0,2,mint,1,5/12/2021,Coral
179,180,Other,Cambridge,290000,0,2,NaN,1,5/12/2021,Coral
180,181,Other,Cambridge,315000,1,1,NaN,1,5/12/2021,Coral
181,182,Townhouse,Cambridge,320000,1,1,Excellent,1,5/13/2021,Coral
182,183,Other,Cambridge,357000,1,2,mint,1,5/14/2021,Coral
183,184,Townhouse,Cambridge,315000,1,1,Excellent,1,5/20/2021,Coral
184,185,Townhouse,Cambridge,350000,1,2,Excellent,1,5/27/2021,Coral
185,186,Other,Cambridge,315000,0,2,Diamond,1,06/03/2021,Coral
186,187,Townhouse,Cambridge,305000,1,1,Mint,1,06/06/2021,Coral
187,188,Other,Cambridge,329000,0,2,NaN,1,06/09/2021,Coral
188,190,Other,Cambridge,270000,0,1,Mint,1,6/12/2021,Coral
189,191,Garden Apartment,Cambridge,300000,1,1,excellent,1,6/21/2021,Coral
190,192,Townhouse,Cambridge,345000,1,2,mint,1,6/26/2021,Coral
191,193,Other,Cambridge,360000,1,2,NaN,1,6/29/2021,Coral
192,194,Garden Apartment,Cambridge,305000,0,2,Mint,1,07/08/2021,Coral
193,195,Townhouse,Cambridge,350000,1,1,Diamond,1,7/10/2021,Coral
194,196,Townhouse,Cambridge,355000,1,2,NaN,1,7/17/2021,Coral
195,197,Other,Cambridge,310000,0,2,Mint,1,7/19/2021,Coral
196,199,Townhouse,Cambridge,340000,0,2,Excellent,1,7/23/2021,Coral
197,200,Other,Cambridge,275000,0,2,Diamond,1,7/23/2021,Coral
198,201,Other,Cambridge,270000,0,1,Mint,1,7/26/2021,Coral
199,202,Other,Cambridge,255000,0,2,Excellent,1,7/31/2021,Coral
200,203,Other,Cambridge,267000,0,2,Mint,1,08/02/2021,Coral
201,204,Other,Cambridge,253800,0,2,MINT,1,08/02/2021,Coral
202,205,Townhouse,Cambridge,385000,1,2,Diamond,1,8/13/2021,Coral
203,206,Other,Cambridge,325000,0,2,Excellent,1,9/20/2021,Coral
204,208,Other,Cambridge,307961,0,1,Mint ++,1,9/22/2021,Coral
205,209,Townhouse,Cambridge,325000,1,1,Excellent,1,9/24/2021,Coral
206,210,Townhouse,Cambridge,337000,1,2,Excellent,1,9/28/2021,Coral
207,211,Condo,Cambridge,310000,0,2,MINT,1,10/07/2021,Coral
208,213,Townhouse,Cambridge,365000,1,2,NaN,1,11/02/2021,Coral
209,214,Other,Cambridge,300000,0,2,pristene,1,11/10/2021,Coral
210,215,Other,Cambridge,310000,0,2,mint+,1,12/01/2021,Coral
211,217,Other,Cambridge,309000,0,2,NaN,1,12/27/2021,Coral
212,218,Other,Cambridge,285000,0,2,MINT,1,12/28/2021,Coral
213,219,Condo,Cambridge,258700,1,1,mint,1,01/04/2020,Coral
214,221,Condo,Cambridge,240000,0,2,NaN,1,1/23/2020,Coral
215,222,Condo,Cambridge,295000,1,2,Diamond+++,1,1/28/2020,Coral
216,223,Condo,Cambridge,268000,1,2,MINT,1,02/03/2020,Coral
217,224,Condo,Cambridge,288000,1,1,pristene,1,2/28/2020,Coral
218,225,Condo,Cambridge,284900,0,2,NaN,1,3/21/2020,Coral
219,227,Other,Cambridge,256750,0,1,NaN,1,04/02/2020,Coral
220,233,Other,Cambridge,325000,1,2,6M Mint,1,6/27/2020,Coral
221,26,Townhouse,Cambridge,365000,1,2,NaN,2,02/09/2022,Coral
222,28,Townhouse,Cambridge,300000,0,1,Diamond,2,2/15/2022,Coral
223,29,Other,Cambridge,330000,0,2,NaN,2,2/25/2022,Coral
224,45,Other,Cambridge,325000,0,2,mint,2,4/14/2022,Coral
225,52,Other,Cambridge,355000,1,2,NaN,2,5/11/2022,Coral
226,58,Other,Cambridge,258000,0,1,NaN,2,6/16/2022,Coral
227,70,Townhouse,Cambridge,360000,0,2,DIAMOND++,2,7/28/2022,Coral
228,73,Other,Cambridge,265000,0,2,NaN,2,8/11/2022,Coral
229,75,Other,Cambridge,389000,1,2,NaN,2,8/27/2022,Coral
230,83,Townhouse,Cambridge,305000,0,1,Diamond,2,11/04/2022,Coral
231,86,Other,Cambridge,312000,0,2,NaN,2,9/27/2022,Coral
232,96,Townhouse,Cambridge,339000,0,2,great,2,1/17/2023,Coral
233,99,Other,Cambridge,295000,0,2,NaN,2,01/03/2023,Coral
234,101,Garden Apartment,Cambridge,300000,0,1,NaN,2,3/10/2023,Coral
235,103,Garden Apartment,Cambridge,370000,0,2,Mint,2,3/30/2023,Coral
236,104,Other,Cambridge,375000,1,1,NaN,2,4/17/2023,Coral
237,108,Other,Cambridge,350000,0,2,Mint++,2,5/16/2023,Coral
238,110,Other,Cambridge,336000,0,1,NaN,2,6/25/2023,Coral
239,115,Condo,Cambridge,230720,0,1,Mint++,2,3/14/2020,Coral
240,122,Other,Cambridge,195000,0,1,Mint,2,6/10/2020,Coral
241,132,Other,Cambridge,270000,0,1,pristene,2,8/13/2020,Coral
242,133,Other,Cambridge,265000,0,2,Mint,2,8/19/2020,Coral
243,137,Other,Cambridge,257000,0,1,Diamond++,2,9/23/2020,Coral
244,139,Other,Cambridge,270000,0,1,Mint,2,10/29/2020,Coral
245,144,Other,Cambridge,275000,0,2,pristene,2,11/23/2020,Coral
246,160,Other,Cambridge,285000,0,2,NaN,2,2/27/2021,Coral
247,168,Other,Cambridge,290000,0,2,mint,2,3/20/2021,Coral
248,171,Other,Cambridge,240000,0,1,mint,2,3/25/2021,Coral
249,189,Other,Cambridge,275000,0,2,Mint,2,6/11/2021,Coral
250,207,Other,Cambridge,285000,0,1,Mint,2,9/22/2021,Coral
251,212,Other,Cambridge,284250,0,1,Prestine,2,10/08/2021,Coral
252,216,Garden Apartment,Cambridge,284500,0,1,perfect,2,12/15/2021,Coral
253,220,Condo,Cambridge,248000,0,2,pristene,2,1/10/2020,Coral
254,226,Condo,Cambridge,251000,0,1,Pristine,2,3/20/2020,Coral
255,82,Other,Cambridge,340000,0,2,NaN,2,8/17/2022,Coral
256,198,Other,Cambridge,325000,1,1,NaN,2,7/21/2021,Coral
257,229,Other,Cambridged,217000,1,1,NaN,1,5/20/2020,Coral
258,231,Other,Cambrige,245000,0,2,mint,1,06/09/2020,Coral
259,232,Other,Camebridge,312500,0,2,Mint++,1,6/15/2020,Coral
260,260,Townhouse,Capital Height,420000,1,2,Mint+,1,3/15/2023,Affected
261,252,Townhouse,Capital Heights,415000,1,2,Mint +,1,11/05/2020,Affected
262,253,Townhouse,Capital Heights,445000,1,2,Diamond,1,6/19/2021,Affected
263,254,Townhouse,Capital Heights,340000,1,2,Mint,1,9/24/2021,Affected
264,255,Townhouse,Capital Heights,389000,1,2,Mint *,1,1/19/2022,Affected
265,256,Townhouse,Capital Heights,380000,1,2,NaN,1,04/03/2022,Affected
266,257,Townhouse,Capital Heights,440000,1,2,Diamond+,1,4/21/2022,Affected
267,258,Townhouse,Capital Heights,385000,1,2,Excellent,1,10/15/2022,Affected
268,259,Townhouse,Capitalheights,369000,1,2,Mint,0,10/23/2022,Affected
269,428,Garden Apartment,Clover,170000,0,1,Excellent,1,5/30/2020,Lisps
270,430,Garden Apartment,Clover,134000,0,1,Diamond,1,06/02/2020,Lisps
271,433,Garden Apartment,Clover,180000,0,1,NaN,1,7/15/2020,Lisps
272,438,Garden Apartment,Clover,184000,0,1,MINT,1,8/29/2020,Lisps
273,441,Garden Apartment,Clover,182000,0,1,NaN,1,10/14/2020,Lisps
274,445,Mid Rise,Clover,140000,0,1,Mint,1,12/21/2020,Lisps
275,446,Other,Clover,160000,0,1,Mint++,1,02/06/2021,Lisps
276,449,Garden Apartment,Clover,221000,0,1,DIAMOND,1,3/12/2021,Lisps
277,451,Garden Apartment,Clover,180000,0,1,NaN,1,04/07/2021,Lisps
278,452,Other,Clover,200000,0,1,NaN,1,4/26/2021,Lisps
279,453,Garden Apartment,Clover,185000,0,1,excellent,1,5/13/2021,Lisps
280,455,Garden Apartment,Clover,190000,0,1,Diamond,1,6/11/2021,Lisps
281,456,Garden Apartment,Clover,190000,0,1,Excellent,1,6/17/2021,Lisps
282,460,Garden Apartment,Clover,240000,0,1,Excellent,1,7/27/2021,Lisps
283,461,Garden Apartment,Clover,170000,0,1,Mint,1,08/06/2021,Lisps
284,464,Co-Op,Clover,220000,0,1,Mint,1,8/16/2021,Lisps
285,466,Garden Apartment,Clover,195000,0,1,Mint,1,04/07/2021,Lisps
286,468,Garden Apartment,Clover,195000,0,1,NaN,1,9/19/2021,Lisps
287,471,Garden Apartment,Clover,220000,0,1,NaN,1,10/21/2021,Lisps
288,472,Garden Apartment,Clover,185000,0,1,Mint,1,02/08/2022,Lisps
289,473,Garden Apartment,Clover,200000,0,1,Good,1,2/21/2022,Lisps
290,474,Garden Apartment,Clover,230000,0,1,NaN,1,2/25/2022,Lisps
291,477,Garden Apartment,Clover,275000,0,1,Mint,1,5/30/2022,Lisps
292,478,Garden Apartment,Clover,245000,0,1,NaN,1,06/02/2022,Lisps
293,481,Garden Apartment,Clover,235000,0,1,NaN,1,8/19/2022,Lisps
294,484,Garden Apartment,Clover,225000,0,1,Mint,1,9/16/2022,Lisps
295,487,Garden Apartment,Clover,210000,0,1,Excellent,1,10/24/2022,Lisps
296,488,Garden Apartment,Clover,220000,0,1,NaN,1,10/26/2022,Lisps
297,490,Garden Apartment,Clover,180000,0,1,needs tlc,1,11/17/2022,Lisps
298,491,Garden Apartment,Clover,215000,0,1,excellent,1,12/15/2022,Lisps
299,496,Garden Apartment,Clover,235000,0,1,NaN,1,6/14/2023,Lisps
300,497,Co-Op,Clover,162500,0,1,Excellent,1,2/10/2020,Lisps
301,498,Townhouse,Clover,145000,0,1,Mint,1,5/25/2020,Lisps
302,501,Co-Op,Clover,135000,0,1,NaN,1,03/03/2020,Lisps
303,427,Other,Clover,155725,0,1,NaN,2,03/09/2020,Lisps
304,429,Garden Apartment,Clover,195000,0,1,NaN,2,06/02/2020,Lisps
305,431,Other,Clover,168000,0,1,Mint,2,6/19/2020,Lisps
306,432,Garden Apartment,Clover,161000,0,1,NaN,2,7/16/2020,Lisps
307,434,Garden Apartment,Clover,162000,0,1,Excellent,2,7/20/2020,Lisps
308,435,Garden Apartment,Clover,182000,0,1,Excellent,2,7/20/2020,Lisps
309,436,Co-Op,Clover,144500,0,1,Excellent,2,7/24/2020,Lisps
310,437,Garden Apartment,Clover,155000,0,1,Excellent,2,7/25/2020,Lisps
311,439,Garden Apartment,Clover,144000,0,1,Excellent,2,9/26/2020,Lisps
312,440,Other,Clover,160000,0,1,Excellent+,2,10/01/2020,Lisps
313,442,Garden Apartment,Clover,155000,0,1,Mint,2,10/30/2020,Lisps
314,443,Garden Apartment,Clover,182000,0,1,NaN,2,11/04/2020,Lisps
315,444,Garden Apartment,Clover,190000,0,1,Mint,2,11/13/2020,Lisps
316,447,Garden Apartment,Clover,185000,0,1,Gorgeous,2,2/19/2021,Lisps
317,448,Garden Apartment,Clover,190000,0,1,Mint,2,3/10/2021,Lisps
318,450,Garden Apartment,Clover,207500,0,1,mint,2,3/22/2021,Lisps
319,454,Garden Apartment,Clover,185000,0,1,Excellant,2,5/28/2021,Lisps
320,457,Garden Apartment,Clover,205000,0,1,Excellent,2,6/18/2021,Lisps
321,458,Garden Apartment,Clover,220000,0,1,Mint,2,07/08/2021,Lisps
322,459,Garden Apartment,Clover,235000,0,1,Excellent,2,7/14/2021,Lisps

In [9]:
condo.head(3)

,ML#,Style,Development,Sold_Price,Baths_Half,Bath,Bedrooms,Appearance,Unit_on_Floor_#,Days_On_Market,Contract_Date,Listing_Price,Town
0,2,Other,123 Main St,239000,1,0,1,NaN,2,26,6/27/2020,239000,Eastern
1,1,Co-Op,123 Main St,224000,1,1,1,Mint,1,130,03/06/2020,229000,Eastern
2,5,Other,123 Main St,210000,1,0,1,NaN,1,142,12/11/2020,235000,Eastern

### Correct Floor Numbers

In [10]:

#
condo['Unit_on_Floor_#'] = condo['Unit_on_Floor_#'].replace(0, 1)

In [11]:
floor_number = sorted(condo['Unit_on_Floor_#'].unique())
floor_number

[1, 2]

In [12]:
#condo['Bedrooms'].fillna(1, inplace=True)

# Then, convert the column to integers
condo['Unit_on_Floor_#'] = condo['Unit_on_Floor_#'].astype(int)

# Convert 'Bedrooms' to a categorical data type
condo['Unit_on_Floor_#'] = condo['Unit_on_Floor_#'].astype('category')

### Correct Appearance:
  make them uniform
  Add ordinal numbers

In [13]:
# Convert 'Appearance' to a common data type (e.g., str)
condo['Appearance'] = condo['Appearance'].astype(str)

In [14]:
# get list of all APpearance descriptions
Appearance_terms = sorted(condo['Appearance'].unique())
Appearance_terms

['6M Mint',
 'As is',
 'As-Is',
 'Average',
 'Avg',
 'Beautiful',
 'DIAMOND',
 'DIAMOND++',
 'DIAMOND+++',
 'DIamond',
 'Diam',
 'Diamnond++',
 'Diamod',
 'Diamond',
 'Diamond +',
 'Diamond ++',
 'Diamond+',
 'Diamond++',
 'Diamond+++',
 'EXC ++',
 'EXCELLENT',
 'Exc +',
 'Exc+',
 'Exc/Mint',
 'Excel ++',
 'Excellant',
 'Excellent',
 'Excellent+',
 'Exel++',
 'Fair',
 'GOOD',
 'Godd',
 'Good',
 'Good/dated',
 'Gorgeous',
 'Great',
 'MINT',
 'MINT +',
 'MINT ++',
 'MINT!',
 'MINT++',
 'Mint',
 'Mint *',
 'Mint +',
 'Mint ++',
 'Mint +++',
 'Mint ++++',
 'Mint+',
 'Mint++',
 'Mint+++',
 'Move In',
 'Move in',
 'New',
 'Nice!',
 'Perfect',
 'Prestine',
 'Pristene',
 'Pristine',
 'Superb',
 'Unknown',
 'Updated',
 'Very Good',
 'Very good',
 'diamond',
 'diamond +',
 'diamond ++',
 'diamond!!',
 'diamond+',
 'excel',
 'excellant',
 'excellent',
 'good',
 'great',
 'mINT',
 'mint',
 'mint +',
 'mint+',
 'mint++',
 'mint+++',
 'mlnt++',
 'move in',
 'munt ++',
 'nan',
 'needs tlc',
 'new',
 'perfect',
 'pristene',
 'pristine',
 'very good']

In [15]:
#condo['Development'] = condo['Development'].replace(['Brettonwoods', 'Bretton Wood','Brenton Woods', 'Brettenwoods', 'Bretton Woods', 'Bretton Woods Condo', 'Bretton Woods Country Cl'], "Bretton Woods")
condo['Appearance'] = condo['Appearance'].replace(['6M Mint', 'Exc/Mint', 'MINT',
 'MINT +',
 'MINT ++',
 'MINT!',
 'MINT++',
 'Mint',
 'Mint *',
 'Mint +',
 'Mint ++',
 'Mint +++',
 'Mint ++++',
 'Mint+',
 'Mint++',
 'Mint+++','DIAMOND',
 'DIAMOND++',
 'DIAMOND+++',
 'DIamond',
 'Diam',
 'Diamnond++',
 'Diamod',
 'Diamond',
 'Diamond +',
 'Diamond ++',
 'Diamond+',
 'Diamond++',
 'Diamond+++', 'diamond',
 'diamond +',
 'diamond ++',
 'diamond!!',
 'diamond+','mINT',
 'mint',
 'mint +',
 'mint+',
 'mint++',
 'mint+++',
 'mlnt++','Perfect',
 'Prestine',
 'Pristene',
 'Pristine',
 'Superb',
 'munt ++','pristene',
 'pristine','perfect','Beautiful', 'Gorgeous','New'], "Mint")

In [16]:
condo['Appearance'] = condo['Appearance'].replace(['As is',
 'As-Is','needs tlc','Unknown','NAN', 'nan'], 'As Is')

In [17]:
condo['Appearance'] = condo['Appearance'].replace(['EXC ++',
 'EXCELLENT',
 'Exc +',
 'Exc+',
 'Excel ++',
 'Excellant',
 'Excellent',
 'Excellent+',
 'Exel++','excel',
 'excellant',
 'excellent', 'new',
 'very good','Great'], 'Excellent')

In [18]:
condo['Appearance'] = condo['Appearance'].replace([ 'Fair',
 'GOOD',
 'Godd',
 'Good',
 'Good/dated','Move In',
 'Move in','move in','Average',
 'Avg','Nice!','Updated', 'Very Good',
 'Very good',
 'good',
 'great'], 'Good')

In [19]:
# get list of all APpearance descriptions
Appearance_terms = sorted(condo['Appearance'].unique())
Appearance_terms

['As Is', 'Excellent', 'Good', 'Mint']

## Correct Bedrooms

In [20]:
condo['Bedrooms'].fillna(1, inplace=True)

# Then, convert the column to integers
condo['Bedrooms'] = condo['Bedrooms'].astype(int)

# Convert 'Bedrooms' to a categorical data type
condo['Bedrooms'] = condo['Bedrooms'].astype('category')

## Corrct Baths

In [21]:
condo['Bath'].fillna(1, inplace=True)

In [22]:
condo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1367 entries, 0 to 1366
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ML#              1367 non-null   int64
 1   Style            1361 non-null   object
 2   Development      1367 non-null   object
 3   Sold_Price       1367 non-null   int64
 4   Baths_Half       1367 non-null   int64
 5   Bath             1367 non-null   int64
 6   Bedrooms         1367 non-null   category
 7   Appearance       1367 non-null   object
 8   Unit_on_Floor_#  1367 non-null   category
 9   Days_On_Market   1367 non-null   int64
 10  Contract_Date    1367 non-null   object
 11  Listing_Price    1367 non-null   int64
 12  Town             1367 non-null   object
dtypes: category(2), int64(6), object(5)
memory usage: 131.1+ KB

## Extract dates

In [23]:
condo['Contract_Date'] = pd.to_datetime(condo['Contract_Date'])
condo['Year'] = condo['Contract_Date'].dt.year

### which of the 2 below?

In [24]:
condo['Month_Year'] = condo['Contract_Date'].dt.strftime('%m-%Y')

In [25]:
# condo['Year'] = condo['Year'].astype('datetime64[ns]')
# condo['Month_Year'] = condo['Month_Year'].astype('datetime64[ns]')

In [26]:
condo['Month'] = condo['Contract_Date'].dt.strftime('%m')

In [27]:
condo.head()

,ML#,Style,Development,Sold_Price,Baths_Half,Bath,Bedrooms,Appearance,Unit_on_Floor_#,Days_On_Market,Contract_Date,Listing_Price,Town,Year,Month_Year,Month
0,2,Other,123 Main St,239000,1,0,1,As Is,2,26,2020-06-27,239000,Eastern,2020,06-2020,06
1,1,Co-Op,123 Main St,224000,1,1,1,Mint,1,130,2020-03-06,229000,Eastern,2020,03-2020,03
2,5,Other,123 Main St,210000,1,0,1,As Is,1,142,2020-12-11,235000,Eastern,2020,12-2020,12
3,4,Other,123 Main St,230000,1,0,1,As Is,2,12,2020-11-11,235000,Eastern,2020,11-2020,11
4,6,Garden Apartment,123 Main St,265000,1,0,1,Mint,2,21,2022-09-09,269000,Eastern,2022,09-2022,09

# Initial Plot: All Developments Price v Appearance

In [28]:
# Create the scatter plot
initial_plot_data = condo
fig = px.scatter(data_frame= initial_plot_data, x='Development', y='Sold_Price', color='Bedrooms',
                 title='All Condos:  Sold Price vs. Development',
                 labels={'Development': 'Development', 'Sold_Price': 'Sold Price', 'Town': 'Town'},
                 hover_data=['Development'])

# Show the legend
fig.update_traces(showlegend=True)

# Update the x-axis labels to be rotated 180 degrees
fig.update_layout(xaxis=dict(tickangle=45))

# Show the figure
#fig.show()




fig.update_layout(template='plotly_white')
fig.update_layout(width=1000)
fig.update_layout(height= 600)


# Change the background color to black
fig.update_layout(plot_bgcolor='lightblue')

fig.show()

### There is a problem with our Developments.  At least 123 Main is showing multiple times. This is becasue of some data entry error like a typo or a differnt number of blank spaces.

### Another issue is that I happen to know none of the Developments have more than 2 bedroom so we wil change anything greater than 2 to 2

In [29]:

condo['Bedrooms'] = condo['Bedrooms'].astype(int)
#condo['Bedrooms'] = condo['Bedrooms'].clip(0, 2)
condo['Bedrooms'] = condo['Bedrooms'].clip(upper=2)
# Convert 'Bedrooms' to a categorical data type
condo['Bedrooms'] = condo['Bedrooms'].astype('category')

## Clean up Developments

In [30]:
condo['Development'].unique()

array(['123    Main St', '123 Main St', '123 Maine St', 'Beach Manor',
       'Brookstown', 'Bucolic', 'Cam Bridge', 'Cambridg', 'Cambridge',
       'Cambridged', 'Cambrige', 'Camebridge', 'Capital Height',
       'Capital Heights', 'Capitalheights', 'Clover', 'Cran Berrie',
       'Cranberry', 'Crane Berry', 'Crewville', 'Eastown', 'Forestville',
       'Glentrees', 'Golddream', 'Greentown', 'Hamptown', 'Hershare',
       'Jaggedtown', 'Landings', 'Laurel Vista', 'Laurell Vsta',
       'Makerstown', 'Makerstowne', 'Makerstsown', 'Makrstown',
       'Mapletown', 'Oxford', 'Parliment', 'Peninusula', 'Pilgramstate',
       'Provance', 'Pursuit', 'Southland', 'Streamville',
       'University Heights', 'Windswept', 'Wolfville', 'Yellowstone'],
      dtype=object)

Plot here before cleaning Developments

In [31]:
condo['Development'] = condo['Development'].replace(['123    Main St', '123 Main St', '123 Maine St'], '123 Main St')

In [32]:
condo['Development'] = condo['Development'].replace(['Cam Bridge', 'Cambridg', 'Cambridge',
       'Cambridged', 'Cambrige', 'Camebridge'], 'Cambridge')

In [33]:
condo['Development'] = condo['Development'].replace([ 'Capital Height',
       'Capital Heights', 'Capitalheights'], 'Capital Heights')

In [34]:
condo['Development'] = condo['Development'].replace(['Cran Berrie',
       'Cranberry', 'Crane Berry' ], 'Cranberry')

In [35]:
condo['Development'].unique()

array(['123 Main St', 'Beach Manor', 'Brookstown', 'Bucolic', 'Cambridge',
       'Capital Heights', 'Clover', 'Cranberry', 'Crewville', 'Eastown',
       'Forestville', 'Glentrees', 'Golddream', 'Greentown', 'Hamptown',
       'Hershare', 'Jaggedtown', 'Landings', 'Laurel Vista',
       'Laurell Vsta', 'Makerstown', 'Makerstowne', 'Makerstsown',
       'Makrstown', 'Mapletown', 'Oxford', 'Parliment', 'Peninusula',
       'Pilgramstate', 'Provance', 'Pursuit', 'Southland', 'Streamville',
       'University Heights', 'Windswept', 'Wolfville', 'Yellowstone'],
      dtype=object)

#  Now let us re-run the plot

In [36]:
# Create the scatter plot
fig = px.scatter(data_frame=condo, x='Development', y='Sold_Price', color='Bedrooms',
                 title='All Condos:  Sold Price vs. Development',
                 labels={'Development': 'Development', 'Sold_Price': 'Sold Price', 'Town': 'Town'},
                 hover_data=['Development'])

# Show the legend
fig.update_traces(showlegend=True)

# Update the x-axis labels to be rotated 180 degrees
fig.update_layout(xaxis=dict(tickangle=45))

# Show the figure
#fig.show()




fig.update_layout(template='plotly_white')
fig.update_layout(width=1000)
fig.update_layout(height= 600)


# Change the background color to black
fig.update_layout(plot_bgcolor='lightblue')

fig.show()

## Maybe it has to do with the floor level?  Let us examine teh 1st and 2nd floor indivudually looking only at 1 bedroom units.

# Plot:
Let us take a look at just 1 Bedroom units vis a vis Appearance

In [37]:
# Create a color mapping dictionary
color_mapping = {
    'Mint': 'green',
    'As Is': 'red',
    'Excellent': 'blue',
    'Good': 'orange'
}

import plotly.graph_objects as go

One_Bedroom = condo[condo['Bedrooms'] == 1]

# Create the scatter plot first
fig = px.scatter(data_frame=One_Bedroom, x='Development', y='Sold_Price', color='Appearance',
                 title='One Bedrooms: Sold Price v Condition',
                 labels={'Development': 'Development', 'Sold_Price': 'Sold Price', 'Town': 'Town'},
                 hover_data=['Development'])

# Remove the default legend
fig.update_traces(showlegend=False)

# Customize the legend labels
for appearance, color in color_mapping.items():
    fig.add_trace(go.Scatter(x=[None], y=[None], mode='markers',
                             marker=dict(size=10, color=color), name=appearance))

# Update the layout for the desired width and height
fig.update_layout(width=1000, height=600)

fig.update_layout(xaxis=dict(tickangle=45))

# Change the background color
fig.update_layout(plot_bgcolor='lightblue')

# Show the plot
fig.show()

In [55]:
# filter for 1 bedroom

One_Bedroom = condo[condo['Bedrooms'] == 1]

# prompt: filter for floor level = 1

floor_1 = One_Bedroom [One_Bedroom ['Unit_on_Floor_#'] == 1]

# Create a color mapping dictionary
color_mapping = {
    'Mint': 'green',
    'As Is': 'red',
    'Excellent': 'blue',
    'Good': 'orange'
}

import plotly.graph_objects as go

#One_Bedroom = condo[condo['Bedrooms'] == 1]

# Create the scatter plot first
fig = px.scatter(data_frame= floor_1, x='Development', y='Sold_Price', color='Appearance',
                 title='One Bedrooms, First Floor Only: Sold Price v Condition',
                 labels={'Development': 'Development', 'Sold_Price': 'Sold Price', 'Town': 'Town'},
                 hover_data=['Development'])

# Remove the default legend
fig.update_traces(showlegend=False)

# Customize the legend labels
for appearance, color in color_mapping.items():
    fig.add_trace(go.Scatter(x=[None], y=[None], mode='markers',
                             marker=dict(size=10, color=color), name=appearance))

# Update the layout for the desired width and height
fig.update_layout(width=1000, height=600)

fig.update_layout(xaxis=dict(tickangle=45))

# Change the background color
fig.update_layout(plot_bgcolor='lightblue')

# Show the plot
fig.show()

## Well that is no better.  Let us take a look only at the 2nd floor

In [57]:
# filter for 1 bedroom

One_Bedroom = condo[condo['Bedrooms'] == 1]

# prompt: filter for floor level = 1

floor_2 = One_Bedroom [One_Bedroom ['Unit_on_Floor_#'] == 2]

# Create a color mapping dictionary
color_mapping = {
    'Mint': 'green',
    'As Is': 'red',
    'Excellent': 'blue',
    'Good': 'orange'
}

import plotly.graph_objects as go


# Create the scatter plot first
fig = px.scatter(data_frame= floor_2, x='Development', y='Sold_Price', color='Appearance',
                 title='One Bedrooms, Second Floor Only: Sold Price v Condition',
                 labels={'Development': 'Development', 'Sold_Price': 'Sold Price', 'Town': 'Town'},
                 hover_data=['Development'])

# Remove the default legend
fig.update_traces(showlegend=False)

# Customize the legend labels
for appearance, color in color_mapping.items():
    fig.add_trace(go.Scatter(x=[None], y=[None], mode='markers',
                             marker=dict(size=10, color=color), name=appearance))

# Update the layout for the desired width and height
fig.update_layout(width=1000, height=600)

fig.update_layout(xaxis=dict(tickangle=45))

# Change the background color
fig.update_layout(plot_bgcolor='lightblue')

# Show the plot
fig.show()